@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var_font-poppins: 'Poppins', 'sans-serif';
    --var_font-roboto: 'Roboto', 'sans-serif';
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    background-color: #191816;
    color: #AFB6C2;
    
}

.sideLeft, .sideRight {
    width: 50vw;
}

.sideLeft {
    display: grid;
    grid-template: auto auto / auto;
}

.logo {
    height: 28px;
    margin: 20px;
}

.container {
    align-self: flex-start;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24221F;
    padding: 5%;
    width: 80%;
    border-radius: 4px;
    margin: 10%;
    
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 33.5rem;
}

.title {
    display: flex;
}

h1 {
    font-family: var(--var_font-poppins);
    font-size: 2.4rem;
    font-weight: 600;
    color: #D4CCB6;
    margin-left: 1rem;
}

h2 {
    font-family: var(--var_font-roboto);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2.7rem;
}

.Label {
    font-family: var(--var_font-poppins);
    font-size: 1.6rem;
    font-weight: 500;
}

input[type="email"], input[type="password"] {
    width: 100%;
    height: 4.4rem;
    border-radius: 4px;
    outline: none;
    font-family: var(--var_font-roboto);
    font-size: 1.4rem;
    font-weight: 400;
    color: #AFB6C2;
    background-color: #24221F;
    border: 1px solid #868686;
    margin-bottom: 2rem;

}

input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid #FFC632;
    box-shadow: 0px 0px 0px 2px #FFDE88
}



.checkBox {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #868686;
    border-radius: 4px;
    background: #24221F;
    margin-right: 0.5rem;
    cursor: pointer;
}

.checkBox:checked {
    background: #FFC632;
    background-image: url("../assets/check.svg");
    background-position: center; 
}

.rememberOrForgotPassword {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.rememberOrForgotPassword label {
    display: flex;
    align-items: center;
    font-family: var(--var_font-roboto);
    font-size: 1.6rem;
}


.rememberOrForgotPassword p {
    font-family: var(--var_font-poppins);
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFC632;

}

button {
    height: 5.1rem;
    font-family: var(--var_font-poppins);
    font-size: 1.8rem;
    font-weight: 600;
    color: #473404;
    background-color: #FFC632;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1.4rem;
}

.registerHere {
    width: 100%;
    font-family: var(--var_font-poppins);
    font-size: 1.4rem;
    text-align: center;
    color: #FFC632;
}

.sideRight {
    background-image: url("../assets/side-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 100vh;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }
} 


@media screen and (max-width: 768px)  {
    html {
        font-size: 62.5%;
    }
    .sideRight {
        display: none;
    }

    .sideLeft {
        width: 100vw;
    }

    .container {
        padding: 5%;
        width: 100%;
        background-color: #191816;
    }

    .formContainer {
        width: 33.5rem;

    }

}